In [10]:
import sympy as sp
import pandas as pd
import math

In [11]:
def orthoptics(y, a, b):
    if y == 10164:
        return 16468
    x = sp.symbols('x')
    equation = (x ** 2 + y ** 2 - a ** 2 - b ** 2) ** 2 - 4 * ((b * x) ** 2 + (a * y) ** 2 - (a * b) ** 2)
    res = sp.solve(equation, x)
    res = [num for num in res if sp.im(num) == 0]
    res = [sre.evalf() for sre in res]
    #print(res)
    return math.floor(max(res))

In [20]:
def store_to_csv(func, y_range, a, b):
    results = []

    for y in range(y_range[0], y_range[1] + 1):
        x_values = func(y, a, b)
        results.append((x_values, y))
        print(y, x_values)
    
    df = pd.DataFrame(results, columns = ['x', 'y'])
    df.to_csv('orth.csv', index = False)

y_range = (0, 18949)
a_value = 7500
b_value = 2500 * 5 ** .5

store_to_csv(orthoptics, y_range, a_value, b_value)

NameError: name 'x' is not defined

In [15]:
dicts = {'x': [1, 2, 3, 5], 'y': [-1, -4, -5, -10]}


create_dict_df = pd.DataFrame(dicts)
create_dict_df.to_csv("file_name.csv", index = False)

In [19]:
df = pd.read_csv("orth.csv")
df

     x   y
0   24   0
1   24   1
2   24   2
3   24   3
4   24   4
5   23   5
6   23   6
7   23   7
8   22   8
9   21   9
10  21  10
11  20  11
12  19  12
13  18  13
14  16  14
15  14  15